:root {
  --firstRow-margin: 2rem 1rem;
  --secondRow-margin: 0 1rem 2rem;
  --w3-third-padding: 0 1rem;
}
@media only screen and (max-width: 440px) {
 :root {
  --firstRow-margin: 1rem 1rem 0;
  --secondRow-margin: 0 1rem 1rem;
  --w3-third-padding: 1rem;
 } 
}
a {
  text-decoration: none;
}
.firstRow {
  margin: var(--firstRow-margin);
}
.secondRow {
  margin: var(--secondRow-margin);
}
.w3-third {
  padding: var(--w3-third-padding);
}
.imgContainer {
  position: relative;
}
.imgOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}
.w3-card:hover .imgOverlay {
  display: flex;
}
.projectLink {
  margin: 0 .25rem;
}
.contact {
  font-size: larger;
}