:root {
  --firstRow-margin: 2rem 1rem;
  --secondRow-margin: 0 1rem 2rem;
  --w3-third-padding: 0 1rem;
}
@media only screen and (max-width: 440px) {
 :root {
  --firstRow-margin: 1rem 1rem 0;
  --secondRow-margin: 0 1rem 1rem;
  --w3-third-padding: 1rem;
 } 
}
body {
  background-color: rgb(33, 150, 243);
}
a {
  text-decoration: none;
}
.rowsContainer {
  background-color: rgb(255, 255, 255);
  padding: 1px;
}
.firstRow {
  margin: var(--firstRow-margin);
}
.secondRow {
  margin: var(--secondRow-margin);
}
.w3-third {
  padding: var(--w3-third-padding);
}
.imgContainer {
  position: relative;
}
.imgOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}
.w3-card:hover .imgOverlay {
  display: flex;
}
.fa-chevron-right {
  font-size: smaller;
}
@keyframes animateIcon {
  0% {transform: translateX(0px);}
  50% {transform: translateX(3px);}
  100% {transform: translateX(0px);}
}
.w3-btn:hover .fa-chevron-right {
  animation-name: animateIcon;
  animation-duration: .5s;
  transition: linear;
}
.projectLink {
  margin: 0 .25rem;
}
.contact {
  font-size: larger;
}