body {
  text-align: center;
  background-color: rgb(182, 182, 182);
}
svg {
  background-color: lightgrey;
  padding-top: 50px;
  padding-right: 50px;
  border-radius: 5px;
}
.bar:hover {
  fill: black;
}
div.tooltip {
  background-color: rgb(255, 167, 35);
  padding: 3px;
  border-radius: 5px;
}
div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 150px;					
  height: 35px;					
  font: 20px ;		
  border: 0px;		
  border-radius: 5px;			
  pointer-events: none;	
}
#otherD3 {
  padding: 1.5rem;
}
#d3Projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 960px;
  justify-content: center;
  margin: 0 auto;
}
#d3Projects a {
  padding: 0 1rem 1rem;
}